.type-style{
    font-weight: bold;
}

.validate
{
    color: red;
}
/* input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
} */